@font-face {
  font-family: 'Krub Light';
  src: url('../../Krub/Krub-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub Bold';
  src: url('../../Krub/Krub-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Krub Medium';
  src: url('../../Krub/Krub-Medium.ttf') format('truetype');
}

/* Estilos base comuns */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.logo img {
  width: 40%;
  height: auto; /* Ajuste para altura automática */
  max-width: 50%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.h1 {
  font-family: 'Krub Light';
  color: rgb(0, 0, 86);
  font-size: 2rem; /* Tamanho padrão da fonte */
  text-align: center; /* Centraliza o texto */
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.video video {
  width: 80%; /* Preenche o contêiner pai */
  max-height: 70%; /* Ajusta a altura automaticamente */
}

.h3 {
  margin-top: 5%;
}

.h3 p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Krub Medium';
  color: rgb(0, 0, 86);
  font-size: 1.5rem; /* Tamanho padrão da fonte */
  text-align: center; /* Centraliza o texto */
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  .h1 {
    font-size: 1.8rem; /* Ajuste para telas menores */
  }

  .h3 p {
    font-size: 1.2rem; /* Ajuste para telas menores */
  }
}

@media (max-width: 576px) {
  .h1 {
    font-size: 1.5rem; /* Ajuste para telas pequenas */
  }

  .h3 p {
    font-size: 1rem; /* Ajuste para telas pequenas */
  }
}

@media (max-width: 414px) {
  .h1 {
    font-size: 1.2rem; /* Ajuste para smartphones em modo paisagem */
  }

  .h3 p {
    font-size: 0.8rem; /* Ajuste para smartphones em modo paisagem */
  }
}

@media (max-width: 320px) {
  .h1 {
    font-size: 1rem; /* Ajuste para smartphones em modo retrato */
  }

  .h3 p {
    font-size: 0.7rem; /* Ajuste para smartphones em modo retrato */
  }
}
